#iefc
IEFC_DATABASE_URL=
IEFC_DATABASE_PASSWORD=
IEFC_DATABASE_USERNAME=
IEFC_DATABASE_NAME=
IEFC_APP_PORT=
IEFC_WEB_PORT=

#fluxy
FLUXY_DATABASE_URL=
FLUXY_DATABASE_PASSWORD=
FLUXY_DATABASE_USERNAME=
FLUXY_DATABASE_NAME=
FLUXY_APP_PORT=
FLUXY_WEB_PORT=

# Mailtrap
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=
RELATORIO_EMAIL_DESTINATARIO=
