
IEFC_APP_PORT=8080
EMAIL_APP_PORT=8081

IEFC_DATABASE_HOST=iefc-db
IEFC_DATABASE_PORT=5432
IEFC_DATABASE_NAME=iefc_db
IEFC_DATABASE_USERNAME=iefc_user
IEFC_DATABASE_PASSWORD=troque_esta_senha

EMAIL_DATABASE_HOST=email-db
EMAIL_DATABASE_NAME=email_db
EMAIL_DATABASE_USERNAME=
EMAIL_DATABASE_PASSWORD=

REDIS_HOST=redis
REDIS_PORT=6379

MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=

EMAIL_SERVICE_API_KEY=
EMAIL_SERVICE_BASE_URL=http://email-service:8080
EMAIL_SERVICE_REMETENTE=no-reply@iefc.org.br
ADMIN_NOTIFICACAO_EMAIL=admin@iefc.org.br

EMAIL_REMETENTE_PADRAO=no-reply@iefc.org.br
EMAIL_MAX_TENTATIVAS=5
EMAIL_SCHEDULER_DELAY_MS=15000
EMAIL_SCHEDULER_BATCH_SIZE=20
EMAIL_ASYNC_CORE_POOL_SIZE=2
EMAIL_ASYNC_MAX_POOL_SIZE=5
EMAIL_ASYNC_QUEUE_CAPACITY=200

RELATORIO_EMAIL_DESTINATARIO=admin@iefc.org.br
